 // minecraft realm and game rental
.games2 {
    height: 100vh;
    width: 100vw;
    box-shadow: 0px 0px 15px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    .game-box{
        width: 100%;
        height: 50%;
        background-color: var(--red2);  
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        box-shadow: 0px 2px 8px black; 
        transition: 0.3s ease;
         
        .word-cont{  
            display: grid;
            grid-template-columns: repeat(auto,1);
            align-items: center;
            justify-content: space-evenly;
            text-align: center;
            width: 80%;
            height: 90%;
            margin: 0 auto;
            
            .title{
                color: white;
            font-size: 53px;
            font-family: Mundo-Reg;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            
            }
            .info{
                color: white;
                font-size: 20px;
                margin: 0 auto;
                font-family: Mundo-Reg;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                
            }
        }
    }
}
// device checkout and gaming volunteers sections
.white-sect {
    width: 100%;
    height: 600px;
    background-color: white;
    box-shadow: 0px 2px 15px black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    .whitecontent{
        width: 80%;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .whiteleft{
            padding: 15px;
            width: 50%;
            height: 100%;
            h1{
                color:var(--red2);
                font-size: 50px;
                font-family: Mundo-Reg;
                width: 440px;
            }
            p{
                font-family: Mundo-Reg;
                font-size: 22px;
                color:var(--red2);
            }
        }
        .whiteright{
            width: 50%;
            height: 100%;

            .whiteimg{
                width: 380px;
                height: 300px;
                background-image: url(../css/img/videogame.webp);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                margin: 0 auto;
            }

            .gamevolimg{
                width: 350px;
                height: 350px;
                background-image: url(../css/img/gamevol.webp);
                background-position: center; 
                background-repeat: no-repeat;
                background-size: cover;
                margin: 0 auto;
            }
        }
    }
}
// minecraft section img
.upperbox2{
    background-image: linear-gradient(to right,rgba(117, 12, 2, 0.8),rgba(253, 56, 141, 0.5)), url(../css/img/mincraft.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 550px;
    display: flex;
    align-items: right; 
    justify-content: space-evenly;
 
    .infoholder{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .wordcontent{
            height: 200px;
            max-width: 800px;
            text-align: left;
            h6{
                color: white;
                font-size: 20px;
                font-family: Mundo-Reg;
                padding: 0;
                margin-bottom: -20px;
            }
            h1{
                font-size: 90px;
                font-family: Mundo-Reg;
                color: white;
            }
            h2{
                font-size: 70px;
                font-family: Mundo-Reg;
                color: white;
            }
            p{
                font-size: 24px;
                font-family: Mundo-Reg;
                color: white;
            }
        }
    }
}
// styling at 1200px
@media screen and (max-width: 1200px) {
      
}
//   styling at 1000px (smaller web screens or bigger tablets)
@media screen and (max-width: 1000px){
    .games2 {
    height: 85vh;
    width: 100vw;
    box-shadow: 0px 0px 15px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
        .game-box{
            width: 100%;
        height: 50%;
        background-color: var(--red2);  
        display: flex;
        align-items: center;
        justify-content: space-evenly;
            box-shadow: 0px 2px 8px black; 
            
            .word-cont{ 
                
                .title{
                font-size: 40px; 
                }
                .info{
                    font-size: 18px;
                }
            }
        }
    }
    .white-sect {     
        height: 100vh;   
        .whitecontent{
            flex-direction: column;
            height: 90%;
            width: 80%;
           
        
            .whiteleft{
                width: 70%;
            height: 50%;
                h1{
                    font-size: 40px;
                }
                p{
                    font-size: 20px;
                }
            }
            .whiteright{
                width: 90%;
            height: 50%;
            .whiteimg{
                width: 360px;
                height: 270px;
            }
                .gamevolimg{
                    width: 360px;
                    height: 270px;
                }
            }
        }
    }

    .upperbox2{
        width: 100%;    
        .infoholder{
            .wordcontent{
                h1{
                    font-size: 75px;
                }
            }
        }
    }
 }
//   styling for 780px (Tablets or bigger phones)
@media screen and (max-width: 780px) {
    .games2 {
        height: 80vh;
        width: 100vw;
        box-shadow: 0px 0px 15px black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
            .game-box{
                width: 100%;
            height: 50%;
            background-color: var(--red2);  
            display: flex;
            align-items: center;
            justify-content: space-evenly;
                box-shadow: 0px 2px 8px black; 
                
                .word-cont{ 
                    
                    .title{
                    font-size: 40px; 
                    }
                    .info{
                        font-size: 16px;
                    }
                }
            }
        }
    .upperbox2{    
        .infoholder{
            .wordcontent{
                text-align: center;
                h1{
                    font-size: 60px;
                }
            }
        }
    }
    .white-sect {     
        height: 100vh;   
        .whitecontent{
            flex-direction: column;
            height: 90%;
            width: 80%;
           
        
            .whiteleft{
                width: 70%;
            height: 50%;
                h1{
                    font-size: 40px;
                }
                p{
                    font-size: 18px;
                }
            }
            .whiteright{
                width: 90%;
            height: 50%;
            .whiteimg{
                width: 360px;
                height: 270px;
            }
                .gamevolimg{
                    width: 360px;
                    height: 270px;
                }
            }
        }
    }
}
//   styling for phone 
@media screen and (max-width: 560px) {
    .games2 {
        height: 64vh;
        width: 100vw;
        box-shadow: 0px 0px 15px black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        .game-box{
            width: 100%;
            height: 50%; 
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            box-shadow: 0px 2px 8px black; 
            
            .word-cont{ 
                
                
                .title{
                font-size: 40px; 
                }
                .info{
                    font-size: 14px;
                }
            }
        }
    }
    .white-sect {
        height: 600px;
        .whitecontent{
            width: 300px;
            height: 450px;
            .whiteleft{
                width: 100%;
                padding: 15px 5px 5px 5px;
                h1{
                    font-size: 32px;
                }
                p{
                    font-size: 16px;
                }
            }
            .whiteright{
                width: 100%;
                height: 100%;
    
                .whiteimg{
                    width: 300px;
                    height: 235px;
                }

                .gamevolimg{
                    width: 230px;
                    height: 230px;
                }
            }
        }
    }
    .upperbox2{ 
        height: 550px;   
        .infoholder{
            
            .wordcontent{
                height: 280px;
                width: 350px;
                margin: 0 auto;
                text-align: center;
                h1{
                    font-size: 70px;
                    font-family: Mundo-Reg;
                    color: white;
                }
                p{
                    font-size: 18px;
                    font-family: Mundo-Reg;
                    color: white;
                }
            }
        }
    }

}
