.print-sect {
    width: 100%;
    height: 600px;
    background-color: white;
    box-shadow: 0px 2px 15px black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    .printcontent{
        width: 80%;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .printleft{
            padding: 15px;
            width: 600px;
            height: 100%;
            h1{
                color:var(--yellow2);
                font-size: 50px;
                font-family: Mundo-Reg;
            }
            p{
                font-family: Arial, Helvetica, sans-serif;
            }
        }
        .printright{
            width: 420px;
            height: 100%;

            .printimg{
                width: 300px;
                height: 280px;
                background-image: url(../css/img/printer.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                margin: 0 auto;
            }
        }
    }
}
.robot-sect {
    width: 100%;
    height: 650px;
    background-color: var(--yellow2);
    box-shadow: 0px 2px 15px black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    .robotcontent{
        width: 80%;
        height: 450px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .robotleft{
            padding: 15px;
            width: 600px;
            height: 100%;
            h1{
                color:white;
                font-size: 50px;
                font-family: Mundo-Reg;
            }
            p{
                color:white;
                font-family: Arial, Helvetica, sans-serif;
            }
        }
        .robotright{
            width: 420px;
            height: 100%;

            .robotimg{
                width: 128px;
                height: 350px;
                background-image: url(../css/img/roro.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                margin: 0 auto;
            }
            .robotbutton{
                width: 300px;
                height: 80px;
                background-color: white;
                margin: 10px auto;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                color: var(--yellow2);
                font-size: 24px;
                font-family: Mundo-Reg;
                padding: 20px;
                border-radius: 10px;
                
            }
        }
    }
}
.sproject-sect {
    width: 100%;
    height: 400px;
    background-color: var(--yellow2);
    box-shadow: 0px 2px 15px black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    .sprojectcontent{
        width: 80%;
        min-height: 150px;
        
        h1{ 
            color:white;
            font-size: 50px;
            font-family: Mundo-Reg;
        }
        p{
            color: white;
            font-family: Arial, Helvetica, sans-serif;
        }

        h2{
            color:white;
            font-size: 24px;
            font-family: Mundo-Reg;
        }
    }
}
.video.stem {
    height: 85vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(1,auto); 
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 0px 15px black; 
    background-color: white;
// changing the title of the video section to work for the stem page
.video-title.stem {
    color: var(--yellow2);
    font-size: 63px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: Mundo-Reg;
    
} 
// changing the media player to work with the stem page
.mediaplayer.stem {
    width: 825px;
    height: 400px;
    background-color: var(--yellow2);

}
}

@media screen and (max-width: 1200px) {
    
      
}
@media screen and (max-width: 1000px){
    
    .print-sect {     
        height: 700px;   
        .printcontent{
            flex-direction: column;
            height: 500px;
            .printleft{
                width: 450px;
            }
        }
    }
    .robot-sect {     
        height: 900px;   
        .robotcontent{
            flex-direction: column;
            height: 700px;
            .robotleft{
                width: 450px;
                h1{
                    font-size: 45px;
                }
            }
        }
    }
    .sproject-sect {
        width: 100%;
        min-height: 400px;
        
        .sprojectcontent{
            width: 450px;
            padding: 15px;
            min-height: 300px;
        }
    }
    .video.stem {
        display: flex;
        flex-direction: column;
        height: 75vh;
   
        .video-title.stem{
   
            font-size: 55px; 
            font-family: Mundo-Reg;
            text-align: center;
            padding-bottom: 45px;
        }

        .mediaplayer.stem {
            width: 625px;
            height: 320px;
        }
    }
 }

@media screen and (max-width: 780px) {
    
    .video.stem {
        display: flex;
        flex-direction: column;
        height: 75vh;
        .video-title.stem {
            font-size: 55px; 
            width: 425px;
            font-family: Mundo-Reg;
            text-align: center;
            padding-bottom: 45px;
        }

        .mediaplayer.stem {
            width: 525px;
            height: 300px;  
        }
    }
}

@media screen and (max-width: 560px) {

    .print-sect {
        height: 600px;
        .printcontent{
            width: 300px;
            height: 420px;
            .printleft{
                width: 100%;
                padding: 15px 5px 5px 5px;
                h1{
                    font-size: 35px;
                }
                p{
                    font-size: 14px;
                }
            }
            .printright{
                width: 100%;
                height: 100%;
    
                .printimg{
                    width: 235px;
                    height: 220px;
                }
            }
        }
    }
    .robot-sect {
        height: 800px;
        .robotcontent{
            width: 300px;
            height: 600px;
            .robotleft{
                width: 100%;
                padding: 0;
                h1{
                    font-size: 30px;
                }
                p{
                    font-size: 14px;
                }
            }
            .robotright{
                width: 100%;
                height: 100%;
    
                .robotimg{
                    width: 90px;
                    height: 250px;
                }
            }
        }
    }
    .sproject-sect {
        width: 100%;
        min-height: 400px;        
        .sprojectcontent{
            width: 300px;
            min-height: 250px;
            
            h1{
                font-size: 35px;
            }
            p{
                font-size: 14px;
            }
    
            h2{
                font-size: 20px;
            }
        }
    }
    .video.stem {
        display: flex;
        flex-direction: column;
        height: 55vh;
   
        .video-title.stem {
            font-size: 40px;
            width: 325px;
            font-family: Mundo-Reg;
            text-align: center;
            padding-bottom: 5px;
        }

        .mediaplayer.stem{
            width: 325px;
            height: 200px;
        }
    }
}
